.wrapper { 
    max-width: 800px; 
    margin: 0 auto;   /** вирівнює по центру по горизонталі**/ 
} 
header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.logo { 
    display: flex; 
    padding-top: 20px; 
} 
.title { 
    padding-left: 15px; 
    color: black; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 30px; 
    line-height: 24px; 
} 
a { 
    text-decoration: none; 
    padding-right: 70px; 
} 
li { 
    list-style: none; 
} 
ul { 
    display: flex; 
} 
.mobile-nav { 
    display: none; 
} 
h1 { 
    position: absolute; 
    width: 900px; 
    height: 90px; 
    font-family: 'Franklin Gothic'; 
    font-style: normal; 
    font-weight: 800; 
    line-height: 70px; 
    font-size: 60px; 
    top: 200px; 
    color: rgba(28, 30, 82, 1); 
    width: 50%; 
} 
span { 
    color: rgba(7, 180, 100, 1); 
} 
.text { 
    position: absolute; 
    width: 500px; 
    height: 60px; 
    padding-top: 450px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: normal; 
    font-weight: 300; 
    font-size: 30px; 
    line-height: 30px; 
    width: 40%; 
    top: 20px; 
} 
.box { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
} 
.square { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    color: aliceblue; 
    background-position: -20px -20px; 
    border-radius: 20px; 
    width: 300px; 
    height: 60px; 
    background-color: rgba(52, 224, 111, 1); 
    color: white; 
    font-size: 20px; 
    left: 150px; 
    top: 610px; 
    font-family: Arial; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 20px; 
} 
.img { 
    position: absolute; 
    width: 600px; 
    height: 900px; 
    left: 800px; 
    top: 100px; 
} 
 
 
@media screen and (max-width:768px)  /**з цього моменту починаються мобільні**/ 
{ 
    .desctop-nav { 
        display: none; 
    } 
    .logo .title { 
        font-size: 14px;     
    } 
    .mobile-nav { 
        display: block; 
    } 
}



